# Dependencias
node_modules
npm-debug.log

# Archivos de construcción
/dist
/.angular/cache
/.vscode

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de IDE
/.idea
*.swp
*.swo

# Logs
logs
*.log

# Archivos temporales
.tmp
.temp